@import '../../styles/variables.scss';

.PriceInput {
    &-Input {
        width: 100%;
        font-size: $font-size-xl;
        text-align: right;
        outline: 0;
        border: 0;
        box-sizing: border-box;
        background: transparent;
    }
}
