.PriceInput {
    &-Input {
        width: 100%;
        font-size: 42px;
        text-align: right;
        outline: 0;
        border: 0;
        box-sizing: border-box;
        background: transparent;
    }
}
