@import '../../styles/variables.scss';

.CurrencySelect {
    position: relative;
    font-size: $font-size-xl;

    &-Value {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 120px;
    }

    &-List {
        border: 1px solid $color-gray;
        border-bottom: 0;
        background: $color-white;
        position: absolute;
        z-index: 1;
        left: -5px;
        top: -5px;
    }

    &-ListItem {
        padding: 4px;
        border-bottom: 1px solid $color-gray;
        cursor: pointer;

        &_selected, &:hover {
            background: $color-light-gray;
        }
    }
}
