$font-family: 'Roboto', sans-serif;

$font-size-xl: 42px;
$font-size-l: 16px;

$color-text-black: #333;
$color-white: #fff;
$color-gray: #d8d8d8;
$color-light-gray: #f4f4f4;
$color-dark-gray: #929292;
$color-red: #e4409e;
$color-blue: #156edb;
