@import '../../styles/variables.scss';

.Rate {
    position: relative;

    &-Value {
        padding: 10px 14px;
        background: $color-white;
        display: inline;
        font-size: $font-size-l;
        border: 1px solid $color-gray;
        border-radius: 20px;
        color: $color-blue;
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
    }
}
