@import '../../styles/variables.scss';

.CurrencyCard {
    padding: 70px 24px;

    &_type {
        &_buy {
            background-color: $color-light-gray;
            border-top: 1px solid $color-gray;
        }
    }

    &-Row {
        display: flex;

        &_justify {
            &_between {
                justify-content: space-between;
            }
        }
    }

    &-CardInfo {
        margin-top: 10px;
        font-size: $font-size-l;
        color: $color-dark-gray;
    }

    &-Info_negative {
        color: $color-red;
    }
}
